<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854028726515-lfdeq6nv0p8qcr63qhdtplot1av2cars.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854028726515-lfdeq6nv0p8qcr63qhdtplot1av2cars</string>
	<key>API_KEY</key>
	<string>AIzaSyA8XqX6Ge1m7u4nK-cFlJ37YG-raRCBzqE</string>
	<key>GCM_SENDER_ID</key>
	<string>854028726515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-38644</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-38644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854028726515:ios:f58f928c0999973d070786</string>
</dict>
</plist>